/* цвет основного текста #757575 */
/* вторичный цвет #212121 */
/* акцент #2196F3 */
/* белый #FFFFFF*/
/* вторичный цвет фона #2F303A */
/* цвет фона секции в index #f5f4fa*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
  --header-border-color: #ececec;
  --links-color: #afb1b8;
  --portfolio-border-color: #eeeeee;
  --card-set-gap: 30px;
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --footer-link-color: rgba(255, 255, 255, 0.1);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --backdrop-background: rgba(0, 0, 0, 0.2);
  --field-border: rgba(33, 33, 33, 0.2);
  --border-footer-color: rgba(255, 255, 255, 0.3);
  --group-title-color: rgba(33, 33, 33, 1);
  --modal-submit-color: rgba(24, 140, 232, 1);
  --modal-border-color: rgba(33, 150, 243, 1);
}

/* body */
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

/* none */
.list,
.site-nav,
.auth-nav,
.contacts,
.feature-list,
.works-list,
.team-list,
.projects-list,
.buttons,
p,
ul,
h1,
h2,
h3,
pre,
a {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}

/* Container */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  width: 1200px;
}

/* Header */
.page-header {
  border-bottom: 1px solid var(--header-border-color);
  display: block;
}

.page-header__item {
  display: flex;
  /* justify-content: space-between; */
}

.main-nav {
  display: flex;
  align-items: center;
}

/* logo */
.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;

  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo__accent {
  color: var(--accent-color);
}

/* site-nav */
.site-nav {
  display: flex;
  /* margin-top: 32px;
  margin-bottom: 32px; */
}

.site-nav__item:not(:first-child) {
  margin-left: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms var(--timing-function);
}

.site-nav__link--current {
  position: relative;

  color: var(--accent-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav__link--current::after {
  content: '';
  position: absolute;

  bottom: -1px;
  left: 0;

  /* border: solid var(--accent-color); */
  background-color: var(--accent-color);
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.auth-nav {
  align-items: center;
  display: flex;
  margin-left: auto;
  /* margin-top: 32px;
  margin-bottom: 32px; */
}

.auth-nav__item:not(:first-child) {
  margin-left: 50px;
}

.auth-nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms var(--timing-function);
}

.auth-nav__icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
}

.site-nav__link:hover,
.site-nav__link:focus,
.auth-nav__link:hover,
.auth-nav__link:focus {
  color: var(--accent-color);
}

.auth-nav__link:hover .auth-nav__icon,
.auth-nav__link:focus .auth-nav__icon {
  fill: var(--accent-color);
}

/* hero */
.hero {
  display: block;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  min-height: 600px;

  background-color: var(--secondary-bg-color);
  text-align: center;
  /* background-image: url('../images/header.jpg'); */
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* button primary */

.button-primary {
  display: inline-block;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;

  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}

.hero__button-primary:hover,
.hero__button-primary:focus {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
}

/* section-title */
.section__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* feature-list */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.feature-list {
  display: flex;
  justify-content: space-between;
}

.feature-list__item {
  width: 270px;
}

.feature-list__thumb {
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--third-bg-color);
  border-radius: 4px;
}

.feature-list__icon {
  width: 70px;
  height: 70px;
}

.feature-list__title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-list__text {
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
}

/* Our Works */

.works {
  padding-top: 0;
}

.works-list {
  display: flex;
  justify-content: space-between;
}

.works-list__item {
  position: relative;
}

.works-list__overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
}

.works-list__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  margin: 0;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/* team section */
.team {
  background-color: var(--third-bg-color);
}

.team-list {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

/* .team-list .team-list-item + .team-list-item {
  margin-left: 30px;
} второй способ */

.team-list__item {
  background-color: var(--primary-white-color);
  padding-bottom: 30px;
  box-shadow: var(--card-shadow);
  border-radius: 0px 0px 4px 4px;
}

.team-list__title {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
}

.team-list__text {
  font-size: 16px;
}

.team-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 206px;
  height: 44px;
  margin-top: 16px;
  margin-right: 32px;
  margin-bottom: 0px;
  margin-left: 32px;
}

.team-social__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  color: var(--links-color);
  border-radius: 50%;

  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}

.team-social__icon {
  fill: currentColor;
}

.team-social__link:hover,
.team-social__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* Customers regular */
.customers-list {
  display: flex;
  justify-content: space-between;
}

.customers-list__link {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--links-color);
  background-color: var(--primary-white-color);
  border: 1px solid var(--links-color);
  border-radius: 4px;
}

.customers-list__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;

  transition: border 250ms var(--timing-function), color 250ms var(--timing-function);
}

.customers-list__link:hover,
.customers-list__link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

/* footer */
.page-footer {
  padding-top: 60px;
  padding-bottom: 50px;

  background-color: var(--secondary-bg-color);
}

.page-footer__item {
  display: flex;
  justify-content: space-between;
}

.logo--light {
  color: var(--primary-white-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

/* адрес */
.contacts__city {
  margin-top: 20px;
  margin-right: 0;

  font-family: inherit;
  font-style: normal;
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.71;
}

/* ссылки в футере */

.contacts__link {
  margin-top: 9px;
  margin-right: 0;
  display: block;
  color: rgba(255, 255, 255, 0.68);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;

  transition: color 250ms var(--timing-function);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

/* Joinus */
.joinus {
  display: block;
}

.joinus__p {
  font-size: 14px;
  font-weight: 700;
  color: var(--primary-white-color);
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* Footer Social */

.footer-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 206px;
  height: 44px;
  margin-top: 20px;
}

.footer-social__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  color: var(--primary-white-color);
  background-color: var(--footer-link-color);
  border-radius: 50%;

  transition: background-color 250ms var(--timing-function);
}

.footer-social__icon {
  fill: currentColor;
}

.footer-social__link:hover,
.footer-social__link:focus {
  background-color: var(--accent-color);
}

.tosign {
  display: flex;
  border: none;
}

.tosign__email {
  min-width: 358px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;

  background-color: var(--secondary-bg-color);
  color: var(--border-footer-color);
  border: 1px solid var(--border-footer-color);
  border-radius: 4px;
  margin-right: 12px;
}

.tosign__button-primary {
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tosign__button-primary:hover,
.tosign__button-primary:focus {
  color: var(--primary-white-color);
  background-color: var(--modal-submit-color);
}

.tosign__icon {
  margin-left: 10px;
}

/* Модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--backdrop-background);

  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.3);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;
  background-color: var(--primary-white-color);
  box-shadow: var(--card-shadow);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);
}

.modal__close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;

  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: 250ms var(--timing-function);
}

.modal__close:hover,
.modal__close:focus {
  fill: var(--modal-border-color);
  outline: none;
}

.form {
  width: 450px;
  margin: 40px;
  /* display: flex;
  flex-direction: column; */
}

.form__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;

  font-family: Roboto;
  color: var(--group-title-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.form-field {
  /* outline: 1px solid teal; */
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-field__label {
  font-size: 12px;
  line-height: 1.16;
  margin-bottom: 5px;
}

.form-field__input {
  margin: 0;
  padding-left: 42px;
  border: 1px solid var(--field-border);
  height: 40px;
  border-radius: 4px;
  transition: border 250ms var(--timing-function);
}

.form-field__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  width: 18px;
  height: 19px;
  transition: fill 250ms var(--timing-function);
}

.form-field__comment {
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.16;
  border: 1px solid var(--field-border);
  height: 120px;
  border-radius: 4px;
  resize: none;
}

.form-field__input:focus,
.form-field__comment:focus {
  border: 1px solid var(--modal-border-color);
  outline: none;
}

.form-field__input:focus ~ .form-field__icon {
  fill: #2196f3;
}

/* Policy and checkbox */

.form-policy {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  margin-bottom: 30px;

  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
}

.form-policy__label {
  display: flex;
  align-items: center;
}

.checkbox-policy {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute; */

  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-policy__icon {
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 4px;
  margin-right: 7px;
}

.form-policy__link {
  color: var(--modal-border-color);
  text-decoration: underline;
  margin-left: 5px;
}

.checkbox-policy:checked + .checkbox-policy__icon {
  background-color: var(--modal-border-color);
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--modal-border-color);
}

.checkbox-policy:focus + .checkbox-policy__icon {
  border-color: var(--modal-border-color);
}

.submit {
  text-align: center;
}

.submit__button-primary {
  border: 0;
}

.submit__button-primary:hover,
.submit__button-primary:focus {
  color: var(--primary-white-color);
  background-color: var(--modal-submit-color);
}

/* Portfolio */
/* Buttons */
.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.buttons__item:not(:first-child) {
  margin-left: 8px;
}

/* buttons secondary */
.buttons-secondary {
  color: var(--title-text-color);
  background-color: var(--third-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 22px;

  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}

.buttons-secondary:hover,
.buttons-secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Projects list */

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.projects-list__item {
  border: 1px solid var(--portfolio-border-color);
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.projects-list__link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.projects-list__link:hover,
.projects-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list__thumb {
  position: relative;
  overflow: hidden;
}

.projects-overlay {
  /* display: inline-block;
  content: ''; */
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.projects-list__link:hover .projects-overlay,
.projects-list__link:focus .projects-overlay {
  transform: translateY(0);
}

/* .projects-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
} */

.projects-overlay__text {
  position: absolute;
  padding: 63px 24px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  color: var(--primary-white-color);
  /* transform: translateY(100%);
  transition: transform 250ms var(--timing-function); */
}

.projects-list__content {
  padding: 20px 24px;
}

.projects-list__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.projects-list__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}
